.NewTimer {
  display: flex;
  flex-direction: column; 
  width: 300px;
  position: relative;
  left: 20px;
}

.NewTimer > input {
  font-size: 1em;
  padding: 0.25rem 0.5rem;
  border: 2px solid rgb(247, 238, 238);
  color: rgb(10, 197, 82);
}

.NewTimer > button {
  font-size: 1rem;
  width: 300px;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 1px solid rgb(255, 252, 105);
  background-color: rgb(250, 200, 38);
  color: #fff;
  font-weight: bold;
  padding: 1em;
  margin-top: 1em;
}