.TimerView {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  /* border: rgb(245, 198, 198) solid 2px; */
  margin: 3px;
}

.allViews {
  position: relative;
  left: 830px;
  top: -400px;
  /* background-color: rgba(174, 233, 56, 0.241); */
}

.TimerView > h1 {
  font-variant-numeric: tabular-nums;
  font-size: 30px;
  color:white;
  padding: 20px;
  border-radius: 20px;
  /* background-color: rgb(164, 223, 250); */
  background-color: tomato;
  margin: 15px;
  position: relative;
  top: 37px;
}

.TimerView > h2 {
  font-size: 33px;
  color:white;
  border-radius: 0.5rem;
  /* background-color: rgb(255, 157, 191); */
  background-color: tomato;
  padding: 30px;
  margin: 0px;
  position: relative;
  top: 30px;
}

.TimerView > button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: white;
  background-color: rgb(250, 200, 38);
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  position: relative;
  top: 30px;
}