.TimerView {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  /* border: rgb(245, 198, 198) solid 2px; */
  margin: 3px;
}

.allViews {
  position: relative;
  left: 770px;
  top: -320px;
  background-color: rgb(249, 252, 247);
}

.TimerView > h1 {
  font-variant-numeric: tabular-nums;
  font-size: 30px;
  color:white;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(164, 223, 250);
  margin: 15px;
  /* position: relative;
  left: 7px; */
}

.TimerView > h2 {
  font-size: 33px;
  color:white;
  border-radius: 0.5rem;
  background-color: rgb(255, 157, 191);
  padding: 30px;
  margin: 0px;
}

.TimerView > button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: tomato;
  /* border: rgb(255, 166, 150) solid; */
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  position: relative;
  left: 10px;
}