.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.title {
  font-size: 80px;
  letter-spacing: 20px;
  position: relative;
  left: 20px;
}

@media only screen and (max-width: 768px) {
  .App {
    padding: 20px; 
  }

  .title {
    font-size: 40px; 
    margin: 20px;
    padding-left: 20px;
  }

  .allTimers {
    padding: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .App {
    padding: 10px;
  }

  .title {
    font-size: 30px; 
    margin: 10px;
    padding-left: 10px;
  }

  .allTimers {
    padding: 10px;
  }
}